@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-callme {
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

.drop-callme {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}